{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ 'プライバシーポリシー'|trans }}</h1>
        </div>
        <div id="content_page">
            <h2>有限会社ヨガワークス 個人情報保護方針</h2>

            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <p>
                    {% if BaseInfo.company_name is not null %}
                    {{ BaseInfo.company_name }}（以下、当社といいます。）は、
                    {% endif %}
                    お客様より預かった個人情報の保護に努めることを社会的責務として認識し、すべての従業員が以下の項目について取り組むべく宣言いたします。
                    </p>
                    <br />
                    <ul style="list-style-type: decimal;">
                        <li>当社は事業の内容及び規模を考慮した適切な個人情報の取得、利用及び提供をいたします。また、特定された利用目的の達成に必要な範囲を超えた個人情報の取扱いを行わないとともにそのための措置を講じます。</li>
                        <li>個人情報の管理は、厳重に行うこととし、あらかじめご承諾いただいた場合を除き、第三者に対しデータを開示・提供することはいたしません。また、個人情報に関する不正アクセス、紛失、改ざん、破壊、漏洩を予防いたします。また、漏洩等の事件・事故が発生した場合、速やかな対応と原因を調査し、是正します。</li>
                        <li>当社が保有する個人情報の取扱いに関する法令、国が定める指針その他の規範を遵守いたします。</li>
                        <li>個人情報の取扱いに関する苦情及び相談の申し出があった場合は、その内容を調査し、迅速な処理に努めます。</li>
                        <li>個人情報保護に関する管理体制と仕組みについての個人情報保護マネジメントシステムの継続的改善を実施いたします。</li>
                    </ul>
                    <p>改訂日 2007年4月1日<br>
                    制定日 2005年9月1日<br>
                    有限会社ヨガワークス<br>
                    代表取締役 綿本 哲</p>
                    <br />

                </div><!--//ec-off1Grid__cell-->
            </div><!--//ec-off1Grid-->

            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <h3>個人情報の取り扱いについて</h3>
                    <ul style="list-style-type: decimal;">
                    <li>事業者の氏名または名称<br>
                        有限会社ヨガワークス</li>
                    <li>個人情報保護管理者<br>
                        綿本 哲</li>
                    <li>個人情報の利用目的<br>
                        ご入力いただいた個人情報及び通販オンラインショップ委託元から提供された個人情報は、次の目的の為、利用させていただきます。<br>
                        <ul>
                            <li>商品配送やお取引に関する使用</li>
                            <li>商品お問い合わせに関する使用</li>
                            <li>商品購入後に発生する伝達事項に関する使用</li>
                            <li>購入後の弊社情報や商品情報の提供（Eメール）に関する使用</li>
                            <li>キャンペーン応募のお客様に対する当選通知などに関する使用</li>
                            <li>キャンペーン応募のお客様に対するキャンペーン情報に関する使用</li>
                        </ul>
                       
                    </li>
                    <li>個人情報の第三者提供について<br>
                        取得した個人情報を上記の利用目的記載の商品配送の目的達成に必要な範囲で、当社で契約する指定配送業者に提供することがありますが、ご本人から情報提供停止のお申出があった場合、その提供を停止します。この場合の提供情報は氏名、住所、電話番号、その他商品配送の目的達成に必要な情報で、電子データにより指定配送業者に提供します。</li>
                    <li>個人情報の取扱いの委託について<br>
                        取得した個人情報の取扱いの全部又は、一部を上記の利用目的以外の目的で委託 することはありません。</li>
                    <li>開示対象個人情報の開示等および問い合わせ窓口について ご本人からの求めにより、当社が保有している個人情報の利用目的の通知・開示・ 内容の訂正・追加または削除・利用の停止・消去および第三者への提供の停止等を 請求される場合、下記の手続きをしていただいた場合に対応いたします。<br>
                        ▽来社・郵送又はFAXによる場合<br>
                        1.下記の内容を記載した申請書（フォーマットは自由）<br>
                        ・請求日 　・住所　・氏名　・電話番号　・FAX番号　・E-mail<br>
                        2.あらかじめ取得した本人しか知り得ない情報で本人であるか確認させて いただきます。<br>
                        3.代理人の場合、2.とあわせて本人からの委任状の提出<br>
                        　必要により本人に負担がかからない程度の手数料を納入していただく場合があります。</li>
                    <li>個人情報を入力するにあたっての注意事項<br>
                        お預かりする個人情報の内容については任意と致しますが、当社からの各種 サービスに必要とされる項目に記入がない場合や内容が正確でない場合は、 円滑なサービスのご提供に支障をきたす可能性がございますので、 予めご了承下さい。</li>
                    <li>本人が容易に認識できない方法による個人情報の取得<br>
                        クッキーやウェブビーコン等を用いるなどして、本人が容易に認識できない方法に よる個人情報の取得は行っておりません。</li>
                    <li>個人情報の安全管理措置について<br>
                        取得した個人情報については、漏洩、減失またはき損の防止と是正、その他個人 情報の安全管理のために必要かつ適切な措置を講じます。<br>
                        お問合せへの回答後、 取得した個人情報は当社内において削除致します。<br>
                        このサイトは、SSL（Secure Socket Layer）による暗号化措置を講じています。</li>
                    </ul>
                    <br />
                </div><!--//ec-off1Grid__cell-->
            </div><!--//ec-off1Grid-->

            <h2>個人情報に関するお問い合わせ</h2>
            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <p>〒150-0043　東京都渋谷区道玄坂1丁目21-1　SHIBUYA SOLASTA 3F<br>
                    有限会社ヨガワークス<br>
                    個人情報保護管理者：綿本 哲<br>
                    TEL ：050-5536-1057<br>
                    E-Mail ：<a href="mailto:shop@yogaworks.jp">shop@yogaworks.jp</a><br>
                    月～金　10：00～18：00（土・日・祝日は除く）</p>
                </div>
            </div>

            
        </div><!--//#content_page-->
    </div>
{% endblock %}