{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>

        <div id="content_page">

            <div class="ec-off1Grid">
                <div class="ec-off1Grid__cell">
                    <div class="ec-borderedDefs">

                        <dl>
                            <dt><label class="ec-label">販売業者</label></dt>
                                <dd>有限会社ヨガワークス</dd>
                        </dl>
                        <dl>
                            <dt><label class="ec-label">代表責任者</label></dt>
                                <dd>綿本 哲</dd>
                        </dl>
                
                        <dl>
                            <dt>
                                <label class="ec-label">販売業者</label>
                            </dt>
                            <dd>有限会社ヨガワークス</dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label">代表責任者</label>
                            </dt>
                            <dd>綿本 哲</dd>
                        </dl>
                        <dl>
                            <dt>
                                <label class="ec-label">所在地</label>
                            </dt>
                            <dd>〒150-0043　東京都渋谷区道玄坂1丁目21-1　SHIBUYA SOLASTA 3F</dd>
                        </dl>
    
                        <dl>
                            <dt>
                                <label class="ec-label">電話番号</label>
                            </dt>
                            <dd>050-5536-1057</dd>
                        </dl>
    
                        <dl>
                            <dt>
                                <label class="ec-label">メールアドレス</label>
                            </dt>
                            <dd><a href="mailto:shop@yogaworks.jp">shop@yogaworks.jp</a></dd>
                        </dl>
    
                        <dl>
                            <dt>
                                <label class="ec-label">URL</label>
                            </dt>
                            <dd><a href="https://www.yogaworks.jp/">https://www.yogaworks.jp/</a></dd>
                        </dl>
    
                        <dl>
                            <dt>
                                <label class="ec-label">商品代金以外の必要料金</label>
                            </dt>
                            <dd>代引手数料、振込手数料、返品・交換の際の送料<br>
    
    ■代引手数料は、商品合計金額（税込）＋送料（税込）の合計により異なります。<br>
    ～9,999円・・・330円（税込）<br>
    ～29,999円・・・440円（税込）<br>
    ～99,999円・・・660円（税込）<br>
    ～300,000円・・・1,100円（税込）<br>
    <br>
    ■振込手数料は、お客様のお取引状況や銀行によって異なりますため、ご利用の金融機関に直接お問い合せください。</dd>
                        </dl>
    
                        <dl>
                            <dt>
                                <label class="ec-label">引き渡し時期</label>
                            </dt>
                            <dd>■クレジットカード決済／代金引換の場合<br>
    15時までのご注文分を当日発送<br>
    <br>
    ■銀行振込（前払い）の場合<br>
    15時までに弊社にてご入金確認ができたご注文分を当日発送<br>
    <br>
    ※ただし予約受注品、在庫切れ、弊社休業時期を除く</dd>
                        </dl>
    
                        <dl>
                            <dt>
                                <label class="ec-label">お支払方法</label>
                            </dt>
                            <dd>①クレジットカード決済<br>
    ②代金引換<br>
    ③銀行振込（弊社指定口座への前払い）<br>
    ---振込先-------------<br>
    銀行口座：三菱UFJ銀行 京橋中央支店 普通口座<br>
    口座番号：5095426<br>
    振込名義：ユ）ヨガワークス<br>
    ------------------------</dd>
                        </dl>
    
                        <dl>
                            <dt>
                                <label class="ec-label">返品・交換について</label>
                            </dt>
                            <dd>商品到着後7日以内に申出のあったもの。<br>
    <br>
    ※但し、下記のような場合は返品・交換はお受けできませんのでご了承ください。<br>
    　また、返品・交換に必要な送料はお客様負担にてお願いいたします。<br>
    ・一度ご使用になった商品<br>
    ・お客様のもとでキズや破損が生じた商品<br>
    ・お客様のための特注や加工したもの<br>
    ・期限が過ぎたもの<br>
    ・商品パッケージを開封された商品<br>
    <br>
    【保証の制限】<br>
    配送中の破損、不良品、発送商品の間違いの場合は当店が負担<br>
    ※未使用・未開封に限る<br>
    (メール等でご連絡の上7日以内に着払いでご返送ください)</dd>
                        </dl>
                    </div>
                </div>
            </div>


        </div><!--//#content_page-->
        
    </div>
{% endblock %}