{% extends 'default_frame.twig' %}

{% block main %}
<link rel="stylesheet" href="../html/user_data/assets/css/pages.css">
<main>
	<picture>
		<source media="(min-width:640px)" srcset="../html/user_data/img/asanoyoga/kv.jpg 2000w">
		<source media="(min-width:320px)" srcset="../html/user_data/img/asanoyoga/kv.jpg 870w">
		<h1><img srcset="../html/user_data/img/asanoyoga/kv.jpg 870w, ../html/user_data/img/asanoyoga/kv.jpg 2000w" width="100%" alt="タイプ別　冷える季節のお守りヨガアイテム3選"></h1>
	</picture>
	
	<article>
		<section class="maincontent">
		<h2>【重要】プレゼントご希望の方へ</h2>
		<h3 style="color:#f00;">特典コード期限：1月31日（火）</h3>
		<div class="inner">

			<ul>
				<li>ご希望の商品をカートに入れた後、「ご注文手続き」画面の「クーポン」欄に特典コードをご入力ください。</li>
				<li>プレゼントごとに特典コードは異なります。お間違えのないようご注意ください。</li>
				<li>特典コードは税込10,000円以上購入の場合のみ適用されます。</li>
				<li>プレゼントは商品お届けの際に同梱させていただきます。</li>
			</ul>

		</div>

		</section>

	</article>

</main>
{% endblock %}