{% extends 'default_frame.twig' %}

{% block main %}

<style type="text/css" media="all">
p.caption30days {font-size:18px; font-weight:500;}
h1.page-heading img {width:100%;}
h2.tt30days {border-bottom:1px dashed #ccc; font-size:16px;}
ul.circle_list {list-style-type: circle;}
ul.circle_list li {margin-bottom:1rem;}
</style>

    <div id="contents" class="main_only">
        <div id="privacy_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading">
                    <picture>
                    <source media="(min-width:640px)" srcset="/html/user_data/img/kv_30days.jpg 2000w">
                    <source media="(min-width:320px)" srcset="/html/user_data/img/kv_30days_sp.jpg 870w">
                    <img srcset="/html/user_data/img/kv_30days_sp.jpg 870w, /html/user_data/img/kv_30days.jpg 2000w" alt="30日無料交換サービス">
                    </picture>
                </h1>
                
                <div id="privacy_box" class="container-fluid">
                    <div id="privacy_box__body" class="row">
                        <div id="privacy_box__body_inner" class="col-md-10 col-md-offset-1">
                           
                            <p class="caption30days">
                              安心して商品をご利用いただくために、商品到着後30日以内に不具合が発生した場合は、新品と交換させていただきます。詳細は下記にてご確認ください。</p>
                            <br />
<ul class="circle_list">
<li>保証期間は商品到着後、当日を含めての30日間となります。</li>
<li>対象商品は本サイトでご購入いただいた商品のみとなり、他店でのご購入分は対象外となります。※1</li>
<li>初期不良、または通常使用の範囲内で生じた不具合が保証対象となります。商品のイメージ違い・カラー違い・サイズが部屋に合わない等、お客様都合による交換はお受けできかねます。</li>
<li>当サービスは同商品との交換保証となるため、返品はお受けできかねます。<br>
返品についてはご利用ガイド（<a href="/guide">https://www.yogaworks.jp/guide</a>）をご覧ください。※2</li>
<li>在庫がある場合はご都合の良い配送日をお伺いした上で、交換商品を配送させていただきます。在庫がない場合は、恐れ入りますが入荷次第の発送とさせていただきます。</li>
<li>交換をご希望される場合はメールにて当店までご連絡ください。なお申請の際にはお手数ですが、不良の詳細をスマートフォン・カメラ等で撮影していただき、画像を添付して送信してください。画像が確認できない場合はお受けできかねます。<br>
<br>
メールアドレス：shop@yogaworks.jp<br>
タイトル：商品交換希望</li>
<li>ご購入いただいた商品と異なる商品への交換はお受けできかねます。</li>
<li>当サービスは商品不具合の保証であり、商品の不具合により生じた2次損害等は対象外となります。</li>
</ul>
<p style="font-size:86%; color:#777;">※1　アウトレット商品は30日間保証の対象外となります。通常通りご使用していただいて発生した商品不具合に限り、無料で交換させていただきます。<br>
※2　商品生産終了により交換商品の在庫がないなど、代替品をご用意できない場合に限り、ご返金で対応させていただく場合もございます。</p>

                            <br />
                            <h2 class="tt30days">保証対応の流れ</h2>
<ol class="guarantee">
<li>保証対応をご希望される場合、shop@yogaworks.jpまで、メールにてご連絡ください。<br>
その際、以下の内容を必ずご記載いただくようお願いいたします。<br>

・氏名<br>
・ご注文番号<br>
・交換理由（不良内容）<br>
・不良箇所の写真（お客様ご自身で撮影いただきメールに添付）<br></li>
<li>メール内容を当社にて確認後、担当よりご連絡させていただきます。<br>
保証対象となる場合、交換商品の手配を行います。<br></li>
<li>すべての確認が取れ次第、当店より交換商品を出荷いたします。（対象商品が欠品中の場合は入荷日をご連絡いたします）<br>
なお、お届けの際にお手元の商品の回収も行いますので、お手数ですが梱包のご準備をお願いいたします。<br></li>
<li>交換商品をお受け取りいただけましたら、梱包いただいたお手元の商品を、配送担当者へお渡しください。</li>
<li>お送りいただいた商品が確認でき次第、交換完了となります。</li>
</ol>
                            <br />

                           <p>【ご注意】<br>
下記項目のいずれかに当てはまる場合は保証対象外となります。あらかじめご了承ください。</p>

<p style="font-size:86%; color:#777;">※ご納品から31日以上過ぎた場合。<br>
※使用中での傷・破れ・汚れなど、通常利用範囲で起こり得る不具合の場合。<br>
※商品ごとの取扱注意事項に記載がある利用方法によるもの。<br>
※商品のイメージ違い・カラー違い・サイズが部屋に合わない等、お客様都合によるもの。<br>
※その他、当社が不適当とみなした場合。</p>
                        </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}