{% extends 'default_frame.twig' %}

{% block main %}

<style type="text/css">
<!--
.spec_detail li {font-weight: 400; text-decoration: underline;}
.spec_detail h1 {font-size:2.3rem; font-weight:500; padding-left:.5rem;}
.spec_detail h3 {font-weight:500; border-top: 1px solid #666; border-bottom: 0.5px solid #333; padding: 0.5em 0;}
.spec_detail p {text-align: justify; /* 基本 */
text-justify: inter-ideograph; /* IEで必要 */
text-justify: inter-character; /* Firefoxで必要 */}
.spec_detail ol li {text-decoration:none; font-weight:300;}
.blue {color:#2daad7;}

@media only screen and (max-width:770px) {
    .row { margin-right: 0px; margin-left: 0px; }
    .spec_detail h1 {font-size:2.3rem; padding-left:.5rem;}
    .spec_detail h3 {font-size:1.8rem; padding-left:.5rem;}
    .spec_detail ul,.spec_detail ol { padding: 5px 0 0 23px;}
    }
--></style>


<div id="contents" class="spec_detail">
<h1 class="page-heading">商品にまつわるエトセトラ。</h1>

<div class="row">
<div class="col-sm-12 col-xs-12">
<ul>
<li><a href="#headding_carbon">カーボン・オフセットについて</a></li>
<li><a href="#headding_CERTIFICATE">取得認証について</a></li>
<li><a href="#headding_MATERIALS">素材について</a></li>
<li><a href="#headding_mainte">お手入れについて</a></li>
</ul><br /><br />
</div>
</div>

<div class="row">
<div class="col-sm-6 col-xs-12">
<h3 id="headding_carbon">カーボンオフセットについて</h3>
<p>日常生活や生産活動の中で排出される温暖化ガスについて、CO2量で把握し、自分ではない別の場所・別の人が行なう「温室効果ガス削減事業」へ出資することによって相殺（差し引きゼロ）にすることです。 ヨガワークスでは、ヨガマットの製造や輸送で排出されるCO2量の排出権を、株式会社PEARカーボンオフセット・イニシアティブを通して購入、また無効化することにより、地球温暖化防止のためのCO2削減プロジェクトを支援しています。</p>
<p>全国のヨガスタジオや教室で最もご愛用いただいている ヨガマットバランスシリーズ を筆頭に、オフセット対象は各商品ページでご確認ください。</p>
<p>また、商品の輸入や開発において、以下のようなCO2排出量を減らす努力をしています。<br />
・海外からの輸入商材は、可能な限り飛行機ではなく船便で運送しています。<br />
・国内で製造できるものは、日本でのものづくりに切り替えています。</p><br /><br />

<h3 id="headding_CERTIFICATE">取得認証について</h3>
<h4>¶ AZO</h4>
<p>AZOとは科学染料に含まれる成分のひとつ。繊維に使用されるアゾ染料、塗料に含有するアゾ顔料、電子部品材料中のアゾ化合物等のアゾ基（-N=N-）が人体における酵素作用により還元切断されるとアミン類を生成することがわかっており、生成するアミン類は体内摂取時に発がん性物質となるため、国内外の法令により規制されています。</p>

<h4>¶ DEHP</h4>
<p>ポリ塩化ビニル(PVC)製のカテーテルには、材質に柔軟性を与えるためDEHP[フタル酸ジ(2-エチルヘキシル)]という可塑剤が一般的に添加されています。しかし、このDEHPは、ヒトでは報告されていないものの、動物実験での精巣毒性が確認されていることから、臨床使用において配慮するよう求められています。</p>

<h4>¶ EN71part3</h4>
<p>欧州で玩具の安全性について定めた規格EN-71のPart3で、アンチモン、バリウム、ヒ素、カドミウム、鉛、クロム、セレン、水銀の8元素について、子供が体内に摂取した場合を想定した規定の試験方法に基づき、それぞれについて溶出量の限度値が定められています。</p>

<h4>¶ OEKO-TEX</h4>
<p>人体に最も近いところで使用される繊維製品の安全性（有害物質を含まない）を認証する欧州の安全表示マークで、子供（分類Ⅱの場合）／乳幼児（分類Ⅰの場合）が直接触れる製品として安全とされています。製品そのものと、生産工程の両方に関する有害物質について各国の異なる法律規制を超えた｢安全｣に対する厳しい世界統一規格です。（※OEKOとは、ドイツ語でエコロジーの意）</p>

<h4>¶ SVHC</h4>
<p>欧州の基準で、発がん性物質など健康に影響を及ぼすと言われている物質の含有テストです。EN71と似ていますが、ENは玩具に限定され、どの物質が対象かの種類も違います。</p>
</div>
<div class="col-sm-6 col-xs-12">
<h3 id="headding_MATERIALS">素材について</h3>
<h4>¶ PVC（ポリ塩化ビニル）</h4>
<p>一般的な合成樹脂（プラスチック）の1つです。添加する可塑剤の量によって硬質にも軟質にもなり、優れた耐水性・耐酸性・耐アルカリ性・耐溶剤性を持つ知合せているのが特徴です。ヨガマットの素材の中で、一番主流なのが、このPVC素材になります。ヨガワークスのバランスシリーズは、プラスチック製品特融の素材臭を軽減するため、アロマを配合し、うつ伏せや寝るポーズの際に臭いが気にならない配慮をしています。</p>

<h4>¶ NBR（ニトリルゴム）</h4>
<p>主要な合成ゴムの1つです。天然ゴムの独特の匂い等を気にせず、それでいてゴムのような弾力が特徴です。耐熱性、弾力性、クッション性に優れ、ピラティスや、マタニティヨガにもオススメです。</p>

<h4>¶ 天然ゴム</h4>
<p>天然の素材でグリップ力に優れてます。特有の匂いが気にならず、天然素材をお好みの方にオススメです。（各種アレルギーのある方はご使用をお控え下さい）</p>

<h4>¶ EVA（熱可塑性合成樹脂）</h4>
<p>樹脂の一種です。焼却してもダイオキシンが発生しない、環境にやさしい素材で、低温特性に優れ、寒い場所などでも硬くならず、弾力性に優れています。
柔らかく弾力があり、軽量・無公害の素材です。耐候性に優れ、長期間の屋外暴露試験でも表面劣化を起こし難く、耐オゾン性も極めて良好です。製造方法や、素材の混率によって硬さが変わってきますが、ヨガワークスのブロックは、安定したサポートを実現するため固めに作られています。硬いブロックを作るのは、柔らかいブロックを製造するより難しく、柔らかいブロックが市場に多く出回っている理由の１つでもあります。</p>

<h4>¶ ポリエステル、ポリアミド</h4>
<p>ポリエステル生地は、速乾性に優れ、軽量で持ち運びにも便利です。
ポリアミド素材が追加されることで、程よいコシが生まれ、また発色も良くなっています。濡れるとグリップする、それでいて優しくて気持ちいい手触りを実現するのに何年もかかっている優れものの生地です。</p>

<h4>¶ ポリエステル、ナイロン</h4>
<p>ポリエステル生地は、速乾性に優れ、軽量で持ち運びにも便利です。さらにグリップ力をアップさせる為、今もなお改善とテストを繰り返しています。また、抗菌加工を施し、汗をかいても安心して心地よくお使い頂けます。</p>

<h4>¶ ナイロン</h4>
<p>非常に強く、軽量でシワになりにくい、扱いやすい等の特徴があり、バッグの素材として広く使われている素材です。</p>

<h4>¶ 綿</h4>
<p>天然素材の1つで、吸湿性、吸水性があり、強くて丈夫であることが特徴です。染めによる発色もよく、加工がしやすいため、一般的にも多く使われています。洗濯により縮みやすくシワにもなりやすい為、よく繊維を伸ばしてから干すことをオススメします。濃色の生地は、濡れた状態で強くこすると、色落ちの原因になります。</p>

<h4>¶ シルク</h4>
<p>天然素材の１つで、風合いも柔らかくしなやかな手触りが特徴です。綿との違いは、繊維が長いため、なめらかで光沢感があります。</p>

<h4>¶ TPE（熱可塑性エラストマー）</h4>
<p>Thermoplastic Elastomersは加熱により流動化し再形成が可能な弾力のある高分子素材で、プラスチック素材のように加工しやすい点に加え、ゴムのような弾力があることが特徴。表面が乾きやすいなど耐久性に問題があるため、ヨガワークスでは、ゴム素材を配合するなどして耐久性を補っています。（ゴムアレルギーがある方は、ご使用をお控えください）</p><br /><br />
</div>
</div>

<div class="row">
<div class="col-sm-6 col-xs-12">
<h3 id="headding_mainte">お手入れについて</h3>

<h4>¶ ヨガマット</h4>
<p>使い終わったヨガマット。床に敷いたまま…適当に畳んで部屋の片隅へ放置…などということはありませんか？ 汚れが付着してからごしごしと表面をこするようなお手入れは、表面が傷つき、劣化の原因となるので逆効果です。<br />
使用後のヨガマットには、目に見えない汚れや皮脂がついています。その上に埃が積もると、その後のお手入れに時間がかかるだけでなく、グリップ性が衰えるなど素材の特性を損う原因となります。また、紫外線の影響により、乾燥や変色の原因にもなります。不使用時のヨガマットは、丸めて（または畳んで）直射日光を避け、高温にならない場所に収納しましょう。</p>
<p>※ 適したお手入れは、素材の特性によってヨガマット毎に異なります。各商品パッケージに記載しておりますお取扱い事項も、併せてご確認ください。</p>

<h4 id="headding_mainteBASIC"><span class="blue">基本のお手入れ（開封時・使用毎）</span></h4>
<p>● 用意するもの<br />
軽く湿らせた布と乾いた布　各1枚</p>
<p>● ステップ</p>
<ol>
    <li>軽く湿らせたやわらかい布で、マット全体を拭きます。</li>
    <li>残った水分を乾いた布で拭き取ります。</li>
    <li>完全に乾いたことを確認したら、ロール状に巻いて（折りたたみタイプは畳んで）収納しましょう。</li>
</ol>
<p><b>+αのお手入れ：</b> 汚れや汗が気になる時は、汚れた部分を、石鹸や肌に優しい中性洗剤を水・ぬるま湯で薄めた液を含ませたませた布・スポンジでふき取ります。<br />
<b>ヒント：</b> お湯を使うと汚れが落ちやすくなります。<br />
<b>リフレッシュに：</b> ヨガスプレーを使ってみましょう。</p>

<h4 id="headding_mainteSMELLSP"><span class="blue">特別なお手入れ（匂いが気になる時）</span></h4>
<p>● ステップ</p>
<ol>
    <li>基本のお手入れを行います。</li>
    <li>保管前にヨガマットを通気性のよい日陰で広げます。</li>
    <li>2～3日を目処に陰干してから収納します。</li>
</ol>

<p>※ ヨガマットバランスシリーズは素材特有のプラスチック臭、ヨガマットポルカはプリントのインク臭、ナチュラルラバー5mm及びトラベラーは素材特有のゴム臭が開封時に感じられますが徐々に薄くなります。但し、匂いについての感じ方は個人差がありますので、特に匂いに敏感な方はその他のヨガマットをおすすめします。 </p>

<h4 id="headding_mainteDIRTSP"><span class="blue">特別なお手入れ（汚れが気になる時）</span></h4>
<p>● 用意するもの<br />
軽く湿らせた布　1枚<br />
乾いた大きめの布　1～2枚<br />
A液:石鹸や肌に優しい中性洗剤を水・ぬるま湯で薄めた液</p>
<p>● ステップ</p>
<ol>
    <li>マット全体を濡れた布やシャワーで湿らせ、表面のほこりやゴミを取り除きます。</li>
    <li>必要に応じて部分的、または全体的に「A液」を浸した布やスポンジ、洗顔ネットなどで軽く表面を滑らせます（擦らないように注意します）。</li>
    <li>表面をよく洗い流して洗剤が残っていないことを確認したら、乾いたバスタオルなどの大きめの布で水分をふき取ります。</li>
    <li>風通しの良い日陰で完全に乾燥させたら、ロール状に巻いて（折りたたみタイプは畳んで）保管しましょう。</li>
</ol>

<p><b>+αのお手入れ：</b> 汚れや汗が気になる時は、汚れた部分を、石鹸や肌に優しい中性洗剤を水・ぬるま湯で薄めた液を含ませたませた布・スポンジでふき取ります。<br />
<b>ヒント：</b> バスタオルを使ってマットをサンドイッチして端から巻く、上から踏むなどして、マットの水分をタオルに移します。２枚のタオルを使うとより簡単です。<br />
<b>注意：</b> 天然ゴム素材、ピラティスマットは丸洗いに適しませんので、表面を軽く拭く日常のお手入れをおすすめします。</p>

<h4 id="headding_mainteFIRSTSP"><span class="blue">ドイツ製ヨガマットのお手入れ（使い始め）</span></h4>
<p>ドイツ製の表面の硬いヨガマットは、最初のお手入れが快適な使用感の鍵となります。新しいマットを使い始める前に、正しいお手入れをして、表面の余分な油分を取ってください。その後は、使用とともに手足に馴染んでいきます。<br>
尚、このお手入れは浴室で行う方も多いようですが、重量のあるマットですので、水浸しにすると更に重くなりますので、ご注意下さい。</p>
<p>● 用意するもの<br />
軽く湿らせた布　1枚<br />
乾いた大きめの布　1～2枚<br />
A液:石鹸や肌に優しい中性洗剤を水・ぬるま湯で薄めた液</p>
<p>● ステップ</p>
<ol>
    <li>マット全体を濡れた布やシャワーで湿らせ、表面のほこりやゴミを取り除きます。</li>
    <li>必要に応じて部分的、または全体的に「A液」を浸した布やスポンジ、洗顔ネットなどで軽く表面を滑らせます（擦らないように注意します）。</li>
    <li>表面をよく洗い流して洗剤が残っていないことを確認したら、乾いたバスタオルなどの大きめの布で水分をふき取ります。</li>
    <li>風通しの良い日陰で完全に乾燥させたら、ロール状に巻いて（折りたたみタイプは畳んで）保管しましょう。</li>
</ol>

<p><b>ヒント：</b> バスタオルを使ってマットをサンドイッチして端から巻く、上から踏むなどして、マットの水分をタオルに移します。２枚のタオルを使うとより簡単です。</p>

<h4 id="headding_mainteHOTYOGA"><span class="blue">ヨガマットトロピカ / コリーン・ウィルコックスのお手入れ（使用毎）</span></h4>
<p>● 用意するもの<br />
ヨガスプレー</p>
<p>● ステップ</p>
<ol>
    <li>お好みのヨガスプレーを適量マットに吹きかけます。</li>
    <li>1～2時間日陰で乾かしてから収納します。</li>
</ol>
<p><b>ヒント：</b> 匂いが気になる時は、柄のある面はこすりすぎないようシャワー等で軽く洗い流したのち、風通しのよい日陰で2～3時間乾かしてから収納します。</p>
</div>
<div class="col-sm-6 col-xs-12">
<h4>¶ ヨガラグ</h4>

<h4 id="headding_mainteWAFFLE"><span class="blue">ワッフルヨガラグ</span></h4>
<ul style="list-style-type: disc;">
<li>滑り止め部分にはアイロンをかけないでください。</li>
<li>色落ちや色移りの恐れがありますので、単独で洗濯してください。</li>
<li>洗濯時には中性洗剤を使用し柔軟剤のご使用はお控えください。</li>
<li>タンブラー乾燥機の使用を避け、風通しの良い場所での陰干し乾燥させてください。</li>
<li>濡れたままで長時間放置されますと、しわや縮み、色落ちの原因になる場合がございます。</li>
<li>蛍光灯や直射日光下で長時間放置されますと、色あせの原因になる場合がございます。</li>
</ul>

<h4 id="headding_mainteSMOOTH"><span class="blue">スムースヨガラグ</span></h4>
<ul style="list-style-type: disc;">
<li>素材の特性上、洗濯により縮むことがありますので、ご了承ください。</li>
<li>色落ちや色移りの恐れがありますので、単独で洗濯ネットに入れて洗濯してください。</li>
<li>洗濯時には中性洗剤を使用し、柔軟剤のご使用はお控えください。</li>
<li>タンブラー乾燥機の使用を避け、風通しの良い場所での陰干し乾燥させてください。</li>
<li>アイロンのご使用は、お控えください。</li>
<li>濡れたままで長時間放置されますと、しわや縮み、色落ちの原因になる場合がございます。</li>
<li>蛍光灯や直射日光下で長時間放置されますと、色あせの原因になる場合がございます。</li>
</ul><br /><br />

<h4>¶ 素材ごとのお手入れ</h4>

<h4 id="headding_mainteCOTTON"><span class="blue">綿製品のお取り扱い</span></h4>
<p>日頃から埃などを避けて保管することでお手入れが簡単になります。<br />
ボルスターのカバー、ヨガベルト、ブランケット、ハーモニーは丸洗いができます。<br />
ファブリックスプレーなどを使用する際は、必ず風通しの良い場所で全体を乾燥させてから保管してください。<br />
汚れが気になる際には、ほこりを除去してからのつまみ洗いをおすすめします。</p>
<ul style="list-style-type: disc;">
<li>色落ちや色移りの恐れがありますので、単独で洗濯してください。</li>
<li>洗剤を使用する際には、中性洗剤を使用してください。</li>
<li>タンブラー乾燥機の使用を避け、風通しの良い場所での陰干し乾燥させてください。</li>
<li>濡れたままで長時間放置されますと、しわや縮み、色落ちの原因になる場合がございますのでご注意ください。</li>
<li>蛍光灯や直射日光下で長時間放置されますと、色あせの原因になる場合がございます。</li>
<li>ブランケットは柔軟剤を使うとなめらかに仕上がります。ごわっとした「こし」のある仕上がりがお好みの場合は、あえて柔軟剤を使わずに洗濯してください。</li>
<li>ボルスターのカバーは、チャックを閉めて洗濯してください。</li>
</ul>
<p><b>フローラ・マットバッグに関して</b><br />
<ul style="list-style-type: disc;">
<li>洗濯機は液温30度までの水を使用し弱水流で洗濯ください。できれば常温水での手洗いをおすすめします。</li>
<li>濃色の為、洗濯により色落ちすることがございます。漂白剤の入った洗剤はご使用をお控えください。</li>
<li>アイロンは、中程度の温度(140度から160度)で生地の裏側からご使用ください。</li>
</ul></p>

<h4 id="headding_mainteSILK"><span class="blue">シルク製品のお取り扱い</span></h4>
<p>日頃から埃などを避けて保管することでお手入れが簡単になります。<br />
汚れが気になる際には、つまみ洗い、または、丸洗いが可能です。</p>
<ul style="list-style-type: disc;">
<li>色落ちや色移りの恐れがありますので、単独で洗濯してください。</li>
<li>洗剤を使用する際には、中性洗剤を使用してください。</li>
<li>タンブラー乾燥機の使用を避け、風通しの良い場所での陰干し乾燥させてください。</li>
<li>濡れたままで長時間放置されますと、しわや縮み、色落ちの原因になる場合がございますのでご注意ください。</li>
<li>蛍光灯や直射日光下で長時間放置されますと、色あせの原因になる場合がございます。</li>
</ul>

<h4 id="headding_mainteELSE"><span class="blue">その他製品のお取り扱い</span></h4>
<ul style="list-style-type: disc;">
<li>日ごろからほこりなどを避けて保管することで、お手入れが簡単になります。</li>
<li>気がついたときに、柔らかい布で表面をやさしくなでるようにケアしてください。</li>
<li>汚れが気になる際は、同じ方法でほこりを除去した後、軽く湿らせた布を使ってやさしくふき取ります。</li>
<li>完全に乾いてからほこりを避けて保管してください。</li>
<li>蛍光灯や直射日光下で長時間放置されますと、色あせの原因になる場合がございますので、ご注意ください。</li>
</ul><br /><br />
</div>
</div>

</div>

{% endblock %}