{% extends 'default_frame.twig' %}

{% block main %}
<link rel="stylesheet" href="../html/user_data/assets/css/pages.css">
<main>
	<picture>
		<source media="(min-width:640px)" srcset="../html/user_data/img/winter_item2022/kv.jpg 2000w">
		<source media="(min-width:320px)" srcset="../html/user_data/img/winter_item2022/kv_sp.jpg 870w">
		<h1><img srcset="../html/user_data/img/winter_item2022/kv_sp.jpg 870w, ../html/user_data/img/winter_item2022/kv.jpg 2000w" width="100%" alt="タイプ別　冷える季節のお守りヨガアイテム3選"></h1>
	</picture>
	
	<article>
		<section class="maincontent">
		<h2>だんだん朝晩の気温が下がり、本格的な冬の足音が聞こえてくるこの季節。<br>
			毎年「冷え」に悩まされている方も多いのではないでしょうか。<br>
			<br>
			一言で「冷え」といっても、その原因やタイプはさまざま。<br>
		今回は代表的な冷えの3つのタイプと<br>
		タイプ別のヨガでのアプローチ方法&お守りアイテムをご紹介します！</h2>
		
		<div style="border-bottom:1px solid #ccc; width:70%; margin:0 auto;">&nbsp;</div>


		<div class="inner">
			<div class="inner_left-img"><img src="../html/user_data/img/winter_item2022/pct_mattan.jpg" alt="末端冷え性"></div>
			<div class="inner_left-txt"><img src="../html/user_data/img/winter_item2022/tt_mattan.png" alt="末端冷え性タイプ">
				<div class="inner_info">
					<div class="pd_info">体はそんなに冷えてないのに、手先足先がキンキンに冷えてる！そんなタイプの方に考えられる原因の一つが、ストレスです。<br>
					ストレスからくる自律神経の乱れで手足の血管が収縮してしまって手先足先が冷えてしまうんです。</div>
				</div>
			</div>
			
			<div class="img_center"><img src="../html/user_data/img/winter_item2022/tt_pose_sakana.png" alt="おすすめヨガポーズ　飛び跳ねる魚のポーズ"></div>

			<h3>抜群のリラックス効果で身体も心もゆったりほぐれ、<br>
				副交感神経を優位にしてくれるポーズです。 安眠効果も抜群！</h3>
			<div><img src="../html/user_data/img/winter_item2022/img_sakana.jpg"></div>

			<ol>
				<li>うつ伏せに真っ直ぐ寝たところから、左膝を横に曲げ、股関節と膝が90度に曲がるところに置きます。</li>
				<li>両手をおでこの下で重ねて手枕にします。</li>
				<li>背骨は真っ直ぐのまま、両腕を曲げている左膝の方にスライドさせ、右こめかみを右肘に乗せて左を向きます。</li>
				<li>そのまま腹式呼吸を意識しながらゆっくりと深い呼吸を楽しみます。</li>
			</ol>

		</div>

		<div class="sub_copy">末端冷え症タイプさんのお守りアイテムは…？</div>

		<div class="img_center40p"><a href="/products/detail/6"><img src="../html/user_data/img/winter_item2022/btn_pilatesmat12.png" alt="ピラティスマット"></a></div>

		<div class="inner inner02">
			<div class="inner_left-img"><img src="../html/user_data/img/winter_item2022/img_pilates.jpg" alt="ピラティスマット"></div>
			<div class="inner_left-txt">
				<div class="img_center80p"><img src="../html/user_data/img/winter_item2022/tt_pilates-newcolor.png" alt="新カラー2色が仲間入り"></div>
			
				<div class="gallery">
					<img src="../html/user_data/img/winter_item2022/pilates01.jpg" alt="ピラティスマット 12mm ミント">
					<img src="../html/user_data/img/winter_item2022/pilates02.jpg" alt="ピラティスマット 12mm モカ">
					<img src="../html/user_data/img/winter_item2022/pilates03.jpg" alt="ピラティスマット 12mm マルベリー">
					<img src="../html/user_data/img/winter_item2022/pilates04.jpg" alt="ピラティスマット 12mm チャコール">
				</div>
			</div>
			
			<div class="sub_copy02">体が固いものに触れると、そこから緊張してしまってなかなか副交感神経優位になることができません。ピラティスマット12mmなら、安心のフワもち触感で 体が固い床を感じてしまうことを防ぎしっかりと全身をリラックスさせることができます。もちろん、床からの冷気も完全シャットアウト！</div>
			<div class="img_right40p"><a href="/products/detail/6"><img src="../html/user_data/img/winter_item2022/btn_moreinfo01.png" alt="詳細を見る"></a></div>

		</div>

			
		<div class="dot">&nbsp;</div>

		<div class="inner">
			
			<div class="inner_right-txt"><img src="../html/user_data/img/winter_item2022/tt_naizo.png" alt="内蔵冷え性タイプ">
				<div class="inner_info">
					<div class="pd_info">手足は大丈夫だけどお腹周りがいつもひんやり、自分で気づかないこともあるいわゆる隠れ冷え性のタイプ。その原因の一つは、筋力が低下して熱を生み出せず巡りが悪くなってしまうことです。</div>
				</div>
			</div>
			
			<div class="inner_right-img"><img src="../html/user_data/img/winter_item2022/pct_naizo.jpg" alt="内蔵冷え性"></div>

			<div class="img_center60"><img src="../html/user_data/img/winter_item2022/tt_pose_tora.png" alt="おすすめヨガポーズ　トラのポーズ"></div>

			<h3>体幹を鍛えて熱を生み出し、<br>
				いつも冷えがちなお腹やお尻を温め 全身の回りをよくする万能ポーズです。</h3>
			<div><img src="../html/user_data/img/winter_item2022/img_tora.jpg"></div>

			<ol>
				<li>よつばいから息を吸いながら右足を足の付け根から後ろに伸ばし、最後に膝を曲げます。同時に背骨もしならせて目線を上に上げます。</li>
				<li>息を吐きながら伸ばした右足を付け根から引き寄せ、 膝を曲げて胸に引き寄せます。背骨も丸めておでこを膝に近づけます。</li>
				<li>5回ほど行ったら左足も同様に行います。</li>
			</ol>

		</div>

		<div class="sub_copy">内蔵冷え症タイプさんのお守りアイテムは…？</div>

		<div class="img_center40p"><a href="/products/detail/27"><img src="../html/user_data/img/winter_item2022/btn_waffle.png" alt="ワッフルヨガラグ"></a></div>

		<div class="inner inner03">
			<div class="inner_left-img"><img src="../html/user_data/img/winter_item2022/img_waffle.jpg" alt="ワッフルヨガラグ"></div>
			<div class="inner_left-txt">
				<div class="img_center80p"><img src="../html/user_data/img/winter_item2022/tt_waffle.png" alt="可愛すぎるカラーバリエーション"></div>

				<div>
					<img src="../html/user_data/img/winter_item2022/img_waffle02.jpg" alt="ワッフルヨガラグ">
				</div>
			</div>
			
			<div class="sub_copy02">手のひらに汗をかいてくるとふとした瞬間に滑ってしまうことも。 ワッフルヨガラグを一枚敷いておけば、その汗を吸ってさらにグリップ力に変えてくれます。シャヴァーサナでも汗をす早く吸ってサラッと快適。 汗が冷えることでの冷えも防止します。</div>
			<div class="img_right40p"><a href="/products/detail/27"><img src="../html/user_data/img/winter_item2022/btn_moreinfo02.png" alt="詳細を見る"></a></div>

		</div>

		<div class="dot">&nbsp;</div>

		<div class="inner">
			<div class="inner_left-img"><img src="../html/user_data/img/winter_item2022/pct_hoteri.png" alt="ほてり症"></div>
			<div class="inner_left-txt"><img src="../html/user_data/img/winter_item2022/tt_hoteri.png" alt="ほてり症タイプ">
				<div class="inner_info">
					<div class="pd_info">腰から下が冷えやすいこのタイプはデスクワークで長時間座りっぱなしの場合などにお尻や下半身の筋肉が固まってしまって起こることが考えられます。</div>
				</div>
			</div>
			
			<div class="img_center"><img src="../html/user_data/img/winter_item2022/tt_pose_tokage.png" alt="おすすめヨガポーズ　トカゲのポーズ"></div>

			<h3>長時間の座り仕事などで固まってしまった下半身やお尻の筋肉を<br>
				しっかり伸ばすことができ、全身の熱のバランスを整えることができます。</h3>
			<div><img src="../html/user_data/img/winter_item2022/img_tokage.jpg"></div>

			<ol>
				<li>よつばいから左足を左手首の外側に置き、つま先を斜め45度外側に向けます。</li>
				<li>右足の指でしっかり地面を掴むようにして右膝を持ち上げます。右つま先も真上に右かかと、左かかとの真上に左膝がくる位置に体制を整えるのがポイントです。そのまま頭と踵を引っ張り合うように 背筋を伸ばしてキープします。</li>
				<li>お尻や太ももがぽかぽか温まったら反対も同様に行います。</li>
			</ol>

		</div>

		<div class="sub_copy">ほてり冷え症タイプさんのお守りアイテムは…？</div>

		<div class="img_center40p"><a href="/products/detail/32"><img src="../html/user_data/img/winter_item2022/btn_blanket.png" alt="ヨガブランケット"></a></div>

		<div class="inner inner02">
			<div class="inner_left-img"><img src="../html/user_data/img/winter_item2022/img_blanket.jpg" alt="ヨガブランケット"></div>
			<div class="inner_left-txt">
				<div class="img_center80p"><img src="../html/user_data/img/winter_item2022/tt_blanket.png" alt="日常使いもできる万能アイテム"></div>
			
				<div>
					<img src="../html/user_data/img/winter_item2022/img_blanket02.jpg" alt="ヨガブランケット">
				
				</div>
			</div>
			
			<div class="sub_copy02">プロップスにも使えるしっかりとコシのあるブランケットは 下半身の冷えを防ぐのにもピッタリ！ シルクのようななめらかな感触で 触覚からも癒しのリラクゼーションへ導きます。</div>
			<div class="img_right40p"><a href="/products/detail/32"><img src="../html/user_data/img/winter_item2022/btn_moreinfo03.png" alt="詳細を見る"></a></div>

		</div>
		
		<div style="border-bottom:1px solid #ccc; width:70%; margin:0 auto;">&nbsp;</div>

		<div class="inner">
			<h3>いかがでしたか？「冷えは万病のもと」といわれているように <br>
				ほっておくとさまざまな不調の元となってしまいます。 <br>
				ヨガとお守りアイテムでこの冬は冷え知らずのポカポカ生活を目指しましょう♪</h3>
		</div>

		<div><img src="../html/user_data/img/winter_item2022/img_ft.jpg"></div>

		</section>

	</article>

</main>
{% endblock %}