{% extends 'default_frame.twig' %}

{% block main %}
<style type="text/css">
    img {width:100%;}
	a img {
		display: block;
	}

	a:hover img {
		opacity: .6;
		-webkit-opacity: .6;
		-moz-opacity: .6;
		filter: alpha(opacity=60);
		/* IE lt 8 */
		-ms-filter: "alpha(opacity=60)";
		/* IE 8 */
		-webkit-transition: opacity .5s ease-out;
		-moz-transition: opacity .5s ease-out;
		-ms-transition: opacity .5s ease-out;
		transition: opacity .5s ease-out;
	}

	.f_red {
		color: #c00;
	}

	#header #category {
		display: none !important;
	}

	.btn_yogamat {
		width: 340px;
		float: right;
	}

	.messages {
		border: 1px dotted #f00;
		text-align: center;
		margin: 20px 20px 10px;
		padding: 15px;
		line-height: 1.8;
	}

	.top_text {
		font-size: 16px;
		padding: 30px 2%;
	}

	.top_copy {
		font-size: 20px;
		color: #3e9dd9;
	}

	.maincontent {
		clear: both;
		overflow: hidden;
	}

	h2.yogamat {
		width: 100%;
		height: 100px;
		background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/yogamat_head.png");
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
	}

	h2.props {
		float: left;
		width: 632px;
		height: 116px;
		background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/props_head.png");
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		margin-bottom: 25px;
	}

	h2.items {
		float: left;
		width: 633px;
		height: 130px;
		background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/items_head.png");
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;

	}


	.props_right {
		float: right;
		width: 403px;
		height: 219px;
		background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/props_right_img.jpg");
		overflow: hidden;
		margin-bottom: 30px;

	}

	.props_link {
		float: left;
		background: no-repeat left/26px url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/ic_arrow.png");
		padding: 3px 0 0 30px;
		margin-left: 36px;
		height: 28px;
		font-size: 18px;
	}

	.items_right {
		float: right;
		width: 303px;
		height: 219px;
		background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/items_right_img.jpg");
		overflow: hidden;
		margin-bottom: 30px;

	}

	.mat_select {
		width: 100%;
		height: 300px;
		background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/mat_select.png");
		overflow: hidden;
		text-indent: 100%;
		margin: 1.5em 0;
		white-space: nowrap;
	}

	h3 {
		width: 430px;
		height: 76px;
		background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/title_saitekimat.png");
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
	}

	.line01 {
		width: 100%;
		height: 76px;
		background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/line_pink.png");
		margin: 25px 0;
	}

	.line02 {
		width: 100%;
		height: 79px;
		background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/line_green.png");
		margin: 25px 0;
	}

	h4 {
		font-size: 18px;
		color: #444;
		text-indent: 1.8em;
		border-bottom: 1px dotted #eee;
		padding-bottom: .5em;
	}


	h4.ic01 {
		background: no-repeat left top/27px url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/icon01.png");
	}

	h4.ic02 {
		background: no-repeat left top/27px url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/icon02.png");
	}

	h4.ic03 {
		background: no-repeat left top/27px url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/icon03.png");
	}

	h4.ic04 {
		background: no-repeat left top/27px url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/icon04.png");
	}

	.products li {
	    list-style:none;
		width: 215px;
		min-height: 370px;
		margin: 0 0 0 10px;
		padding: 0 0 0 5px;
	}

	.products li img {
		width: 100%;
		height: 100%;
	}

	.products p {
		font-size: 12px;
		line-height: 1.5;
		color: #999;
	}

	h5 {
		font-size: 14px;
		text-align: center;
		margin: .5em 0;
	}

	p.price {
		text-align: center;
		font-size: 12px;
		color: #333;
		margin: 0 0 .5em 0;
	}

	p.price span {
		font-size: 16px;
	}

	a {
		box-sizing: border-box;
	}

	table.matselect {
		font-size: 13px;
		color: #555;
		line-height: 1.8;
	}

	table.matselect a {
		display: inline;
	}

	table.matselect th {
		font-size: 14px;
		background: #75a7c9;
		color: #fff;
		padding: 10px;
		border-radius: 16px;
		border-right: 5px solid #fff;
		border-bottom: 5px solid #fff;
		width: 26%;
	}

	table.matselect td {
		background: #e6eff5;
		border-radius: 16px;
		padding: 10px;
		border-right: 5px solid #fff;
		border-bottom: 5px solid #fff;
		width: 20%;
	}

	table.matselect td.pd {
		background: #f3f7fa;
		width: 54%;
	}

	.cbos {
		font-size: .95rem;
		background: rgb(235, 95, 1);
		color: #fff;
		margin: 0 3px 0 0;
		padding: 2px 3px;
		border-radius: 4px;
	}

	.jpnmd {
		font-size: .95rem;
		background: rgb(48, 48, 48);
		color: #fff;
		margin: 0 3px 0 0;
		padding: 2px 3px;
		border-radius: 4px;
	}

	@media only screen and (max-width:768px) {
		.messages {
			xheight: 110px;
		}

		h2.yogamat {
			height: 70px;
			margin: 0;
		}

		h2.props {
			width: 430px;
			height: 100px;
			margin-bottom: 0px;
		}

		.props_right {
			width: 230px;
			height: 155px;
		}

		.props_link {
			float: left;
			background: no-repeat left/20px url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/ic_arrow.png");
			padding: 3px 0 0 30px;
			margin: 0 0 5px 36px;
			height: 20px;
			font-size: 14px;
		}

		h2.items {
			width: 440px;
			height: 100px;


		}

		.items_right {
			width: 240px;
			height: 176px;

			margin-bottom: 30px;

		}

		.mat_select {
			height: 220px;
			margin: 1.5em 0;
		}

		.products li {
			width: 32.5%;
			margin: 0 0 0 4px;
		}

		h3 {
			width: 300px;
			height: 50px;

		}

		table.matselect th {
			width: 25%;
		}

		table.matselect td {
			width: 30%;
		}

		table.matselect td.pd {
			width: 45%;
		}

		.line01 {
			width: 100%;
			height: 38px;
			background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/line_pink.png");
			margin: 5px 0;
		}

		.line02 {
			width: 100%;
			height: 38px;
			background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/line_green.png");
			margin: 5px 0;
		}

	}

	@media only screen and (max-width:375px) {
		.top_text {
			font-size: 14px;
			padding: 30px 2%;
		}

		.top_copy {
			font-size: 18px;
			color: #3e9dd9;
		}

		.messages {
			font-size: 1.3rem;
		}

		.btn_yogamat {
			xwidth: 300px;
			float: none;
			margin: 0 auto;
		}

		h2.yogamat {
			width: 100%;
			height: 90px;
			background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/yogamat_head_sp.png");
		}

		h2.props {
			width: 100%;
			height: 75px;
			background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/props_head_sp.png");
			margin: 0 0 10px 0;
		}

		h2.items {
			width: 100%;
			height: 80px;
			background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/items_head_sp.png");
			margin: 0 0 10px 0;

		}

		.mat_select {
			width: 100%;
			height: 290px;
			background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/mat_select_sp.png");
			margin: 20px 0;
		}

		.props_right {
			float: none;
			width: 100%;
			height: 200px;
			margin-bottom: 10px;

		}

		.props_link {
			float: none;
			background: no-repeat left/22px url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/ic_arrow.png");
			padding: 1px 0 0 30px;
			margin: 0 0 10px 36px;
			height: 22px;
			font-size: 14px;
		}

		.items_right {
			width: 100%;
			height: 260px;
			margin: 0 auto 30px;

		}

		h3 {
			width: 280px;
			height: 50px;
			background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/title_saitekimat.png");
		}


		h4 {
			font-size: 14px;
			color: #666;
			text-indent: 2.2em;
			border-bottom: 0px;
			padding-bottom: .5em;
			line-height: 1.8;
			margin-bottom: 0;
		}

		h4 span {
			font-size: 12px;
			font-weight: normal;
			color: #b1b1b1;
			padding-left: 0em;
			line-height: 1;
		}

		h5 {
			font-size: 14px;
			line-height: 1.2;
			text-align: center;
			margin: .5em 0;
		}

		.line01 {
			width: 100%;
			height: 28px;
			background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/line_pink.png");
			margin: 10px 0;
		}

		.line02 {
			width: 100%;
			height: 28px;
			background: no-repeat center/100% url("https://www.yogaworks.jp/html/user_data/img/ouchiyoga/line_green.png");
			margin: 10px 0;
		}

		.products p {
			font-size: 14px;
			line-height: 1.6;
			color: #999;
		}

		p.price {
			text-align: center;
			font-size: 11px;
			color: #333;
			margin: 0 0 .5em 0;
		}

		p.price span {
			font-size: 14px;
		}

		.products li {
			border-bottom: 1px dotted #e6f1bd;
			width: 100%;
			margin: 0 0 0 4px;
		}

		table.matselect {
			font-size: 12px;
			line-height: 1.6;
		}

		table.matselect th {
			font-size: 14px;
			display: block;
			width: 100%;
		}

		table.matselect td {
			display: block;
			width: 100%;
		}

		table.matselect td br {
			display: none;
		}

		table.matselect td.pd {
			display: block;
			width: 100%;
			background: #fff;
		}

		.cbos {
			font-size: 1.2rem;

			margin: 0 3px 5px 0;

		}

		.jpnmd {
			font-size: 1.2rem;

			margin: 0 3px 5px 0;

		}
	}
</style>
<main>
	<div><img src="https://www.yogaworks.jp/html/user_data/img/yf2021/headimg.jpg"></div>
	<div class="messages">
		ご注文内容確認画面にて「クーポン」欄に下記のクーポン番号を入力いただくと、<br>
		商品総額より20%OFFでお買い上げいただけます<br>
		クーポン番号：<span class="f_red">YOGAFEST2021</span>
	</div>

	<!-- yogamat -->
	<article>

		<section class="maincontent">

			<div class="top_text"><span
					class="top_copy">アジア最大級のヨガイベント「ヨガフェスタオンライン2021」応援キャンペーン</span><br><br>
				この開催を記念して、ヨガワークスでは初となる「クーポンキャンペーン」を開催いたします！<br>
				<br>
				昨年から続くテレワークや在宅モードで、ヨガもオンライン開催が一気に増えてきました。<br>
				そうなると、自宅に「マイマット」や「マイプロップス」が欲しくなるもの。でも種類も多いし、なかなか踏ん切りがつかない。。<br>
				<br>
				そんな方はぜひ、このヨガフェスタ参加をきっかけに、ワンランク上のヨガマットや、欲しかったプロップスを手に入れてください！<br>
				<br>
				無料イベントも多数開催される今年のヨガフェスタ、気分新たなヨガグッズを持って、みんなで盛り上げましょう！
			</div>

			<div class="btn_yogamat"><a href="https://www.yogamat.jp/"><img
						src="https://www.yogaworks.jp/html/user_data/img/yf2021/btn_yogamat.png"
						alt="インストラクター・スタジオ関係者限定 ヨガワークスビジネスサイトはこちら！"></a></div>

			<h4 style="padding:6px 0;" class="ic01">商品一覧　<span class="f_red"
					style="font-size:1.2rem;">*赤字は20OFF適用後価格。カートにてクーポン適用後に反映されます</span>
			</h4>

			<ul class="products row">
				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/list?category_id=9"><img
							src="https://www.yogaworks.jp/html/user_data/img/yf2021/thumb_peanuts_all.jpg"></a>
					<h5><a
							href="https://www.yogaworks.jp/products/list?category_id=9">【数量限定】『PEANUTS（ピーナッツ）』シリーズ</a>
					</h5>
					<p class="price">
						<span class="f_red">¥1,320</span> (税込)〜
					</p>
					<p>昨年大好評だった『PEANUTS』シリーズがパワーアップして再登場！</p>
				</li>
				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/2"><img
							src="https://www.yogaworks.jp/html/upload/save_image/yogamat35_202106.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/2">ヨガマット3.5mm</a></h5>
					<p class="price">¥3,520 (税込) →
						<span class="f_red">¥2,816</span> (税込)
					</p>
					<p><a href="https://www.yogaworks.jp/specdetail#headding_carbon"><span
								class="cbos">カーボンオフセット</span></a>定番のマット！スリムで持ち運びやすく1つは持っておきたいアイテム
					</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/3"><img
							src="https://www.yogaworks.jp/html/user_data/img/ouchiyoga/pd/mat6.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/3">ヨガマット6mm</a></h5>
					<p class="price">¥4,620 (税込) →
						<span class="f_red">¥3,696</span> (税込)
					</p>
					<p><a href="https://www.yogaworks.jp/specdetail#headding_carbon"><span
								class="cbos">カーボンオフセット</span></a>床からの冷えもカットし、ヨガだけでなくストレッチや筋トレにも活躍
					</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/6"><img
							src="https://www.yogaworks.jp/html/upload/save_image/pilatismat12w.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/6">ピラティスマット12mm</a>
					</h5>
					<p class="price">¥5,830 (税込) →
						<span class="f_red">¥4,664</span> (税込)
					</p>
					<p>ヨガだけでなくストレッチや筋トレにも◎<br>厚みがあり、安心感があります</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/40"><img
							src="https://www.yogaworks.jp/html/upload/save_image/yogamat-mori_200311w.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/40">ヨガマット モリ</a></h5>
					<p class="price">¥4,620 (税込) →
						<span class="f_red">¥3,696</span> (税込)
					</p>
					<p><a href="https://www.yogaworks.jp/specdetail#headding_carbon"><span
								class="cbos">カーボンオフセット</span></a>森の息吹を感じる植物柄のヨガマット。<br>お好みに応じて選べる3色
					</p>
				</li>


				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/8"><img
							src="https://www.yogaworks.jp/html/upload/save_image/a118c126.jpg"></a>
					<h5><a
							href="https://www.yogaworks.jp/products/detail/8">ザ・ブラックマット・ツー6.5mm</a>
					</h5>
					<p class="price">¥19,250 (税込) →
						<span class="f_red">¥15,400</span> (税込)
					</p>
					<p>ドイツのファクトリーブランドが、3年以上の試行錯誤の末に完成させた最高品質のヨガマット</p>
				</li>
				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/7"><img
							src="https://www.yogaworks.jp/html/upload/save_image/a121-c12all.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/7">プラネット
							サダナ・ツー4.2mm</a></h5>
					<p class="price">¥14,850 (税込) →
						<span class="f_red">¥11,880</span> (税込)
					</p>
					<p>従来のサダナよりも少し柔らかいフォーミュラで初心者でも安心。表面のエンボス加工でプロも納得のグリップ感</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/37"><img
							src="https://www.yogaworks.jp/html/user_data/img/ouchiyoga/pd/tropica.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/37">ヨガマット トロピカ</a>
					</h5>
					<p class="price">¥6,820 (税込) →
						<span class="f_red">¥5,456</span> (税込)
					</p>
					<p>吸水性に優れたマイクロファイバーと天然ゴムのヨガマットが一体化</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/33"><img
							src="https://www.yogaworks.jp/html/user_data/img/ouchiyoga/pd/colleen.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/33">コリーン・ウィルコックス
							ヨガマット</a></h5>
					<p class="price">¥8,580 (税込) →
						<span class="f_red">¥6,864</span> (税込)
					</p>
					<p>コリーン・ウィルコックの人気ARTをヨガマットに</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/5"><img
							src="https://www.yogaworks.jp/html/upload/save_image/traveller_200311w.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/5">トラベラー・ライト</a></h5>
					<p class="price">¥7,480 (税込) →
						<span class="f_red">¥5,984</span> (税込)
					</p>
					<p>およそ950グラムと軽量で、旅行や移動に適したコンパクトなヨガマット。約A4サイズまで折りたたみが可能</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/9"><img
							src="https://www.yogaworks.jp/html/upload/save_image/a112c099.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/9">トラベラー・トゥ・ゴー</a>
					</h5>
					<p class="price">¥5,500 (税込) →
						<span class="f_red">¥4,400</span> (税込)
					</p>
					<p>折りたたんで持ち運びやすい、オリジナルセンターライン、フォールドライン入り</p>
				</li>
				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/10"><img
							src="https://www.yogaworks.jp/html/upload/save_image/a113.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/10">坐 メディテーション マット</a>
					</h5>
					<p class="price">¥6,490 (税込) →
						<span class="f_red">¥5,192</span> (税込)
					</p>
					<p>メディテーションのためのマット座位で左右の「坐骨」をサポートする独自のデザイン</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/32"><img
							src="https://www.yogaworks.jp/html/upload/save_image/e457c000.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/32">ヨガブランケット ナチュラル</a>
					</h5>
					<p class="price">¥7,480 (税込) →
						<span class="f_red">¥5,984</span> (税込)
					</p>
					<p><span class="jpnmd">JAPAN
							MADE</span>まるでカシミアのようなしっとりとした肌触りのヨガブランケット</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/32"><img
							src="https://www.yogaworks.jp/html/upload/save_image/jp_blanket.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/32">ヨガブランケット</a>
					</h5>
					<p class="price">¥9,680 (税込) →
						<span class="f_red">¥7,744</span> (税込)
					</p>
					<p><span class="jpnmd">JAPAN
							MADE</span>まるでカシミアのようなしっとりとした肌触りのヨガブランケット</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/27"><img
							src="https://www.yogaworks.jp/html/upload/save_image/waffleyogarug_202106.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/27">ワッフルヨガラグ</a></h5>
					<p class="price">¥4,290 (税込) →
						<span class="f_red">¥3,432</span> (税込)
					</p>
					<p>さらりとした肌触りが特徴の、吸水性と速乾性に優れたマイクロファイバー素材のヨガラグ</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/14"><img
							src="https://www.yogaworks.jp/html/user_data/img/ouchiyoga/pd/yogabelt.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/14">ヨガベルト240cm</a>
					</h5>
					<p class="price">¥1,980 (税込) →
						<span class="f_red">¥1,584</span> (税込)
					</p>
					<p>無理することなく、ストレッチしたい箇所に意識を向けられます。おうちでのストレッチアイテムとしていかが？</p>
				</li>
				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/11"><img
							src="https://www.yogaworks.jp/html/upload/save_image/yogablock_aw.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/11">ヨガブロックA 1個</a>
					</h5>
					<p class="price">¥2,200 (税込) →
						<span class="f_red">¥1,760</span> (税込)
					</p>
					<p>高さの微調整が行いやすい幅狭タイプ。狭いスペースを埋めるような活用で直接身体に働きかけます</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/11"><img
							src="https://www.yogaworks.jp/html/upload/save_image/yogablock_aw.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/11">ヨガブロックA 2個セット</a>
					</h5>
					<p class="price">¥3,850 (税込) →
						<span class="f_red">¥3,080</span> (税込)
					</p>
					<p>高さの微調整が行いやすい幅狭タイプ。狭いスペースを埋めるような活用で直接身体に働きかけます</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/12"><img
							src="https://www.yogaworks.jp/html/upload/save_image/yogablock_bw.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/12">ヨガブロックB 1個</a>
					</h5>
					<p class="price">¥2,750 (税込) →
						<span class="f_red">¥2,200</span> (税込)
					</p>
					<p>ブロックAが厚みUPでさらに安定感！木製にはない取り扱い易さはヨガブロックAゆずりのまま2cm強幅広です</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/12"><img
							src="https://www.yogaworks.jp/html/upload/save_image/yogablock_bw.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/12">ヨガブロックB 2個セット</a>
					</h5>
					<p class="price">¥4,950 (税込) →
						<span class="f_red">¥3,960</span> (税込)
					</p>
					<p>ブロックAが厚みUPでさらに安定感！木製にはない取り扱い易さはヨガブロックAゆずりのまま2cm強幅広です</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/13"><img
							src="https://www.yogaworks.jp/html/upload/save_image/corkyogablock_200311w.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/13">コルクヨガブロックM 1個</a>
					</h5>
					<p class="price">¥2,640 (税込) →
						<span class="f_red">¥2,112</span> (税込)
					</p>
					<p>コルクを100%使用しているため、硬さとどっしりとした重量感が安定感に優れ、骨格の補正に役立ちます</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/13"><img
							src="https://www.yogaworks.jp/html/upload/save_image/corkyogablock_200311w.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/13">コルクヨガブロックM
							2個セット</a>
					</h5>
					<p class="price">¥4,840 (税込) →
						<span class="f_red">¥3,872</span> (税込)
					</p>
					<p>コルクを100%使用しているため、硬さとどっしりとした重量感が安定感に優れ、骨格の補正に役立ちます</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/13"><img
							src="https://www.yogaworks.jp/html/upload/save_image/corkyogablock_200311w.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/13">コルクヨガブロックL
							1個</a>
					</h5>
					<p class="price">¥3,300 (税込) →
						<span class="f_red">¥2,640</span> (税込)
					</p>
					<p>コルクを100%使用しているため、硬さとどっしりとした重量感が安定感に優れ、骨格の補正に役立ちます</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/13"><img
							src="https://www.yogaworks.jp/html/upload/save_image/corkyogablock_200311w.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/13">コルクヨガブロックL
							2個セット</a>
					</h5>
					<p class="price">¥5,830 (税込) →
						<span class="f_red">¥4,664</span> (税込)
					</p>
					<p>コルクを100%使用しているため、硬さとどっしりとした重量感が安定感に優れ、骨格の補正に役立ちます</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/16"><img
							src="https://www.yogaworks.jp/html/upload/save_image/e449jp.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/16">ボルスター</a></h5>
					<p class="price">¥12,980 (税込) →
						<span class="f_red">¥10,384</span> (税込)
					</p>
					<p><span class="jpnmd">JAPAN
							MADE</span>リストラティブヨガや陰ヨガには欠かせません。<br>熟練の職人が丁寧に仕上げる日本製</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/16"><img
							src="https://www.yogaworks.jp/html/upload/save_image/e449jp.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/16">ボルスター カバー</a></h5>
					<p class="price">¥2,387 (税込) →
						<span class="f_red">¥1,910</span> (税込)
					</p>
					<p><span class="jpnmd">JAPAN
							MADE</span>替えのカバーがあれば、いつでもお洗濯・クリーニングが可能です。
					</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/17"><img
							src="https://www.yogaworks.jp/html/user_data/img/ouchiyoga/pd/yogazafu.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/17">ヨガザフ</a></h5>
					<p class="price">¥6,160 (税込) →
						<span class="f_red">¥4,928</span> (税込)
					</p>
					<p><span class="jpnmd">JAPAN MADE</span>落ち綿リサイクルした日本製ヨガザフ。プラナヤマのパートナーに。</p>
				</li>

				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/18"><img
							src="https://www.yogaworks.jp/html/upload/save_image/e454.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/18">サンドバッグ</a>
					</h5>
					<p class="price">¥5,280 (税込) →
						<span class="f_red">¥4,224</span> (税込)
					</p>
					<p><span class="jpnmd">JAPAN
							MADE</span>5キロの重さで足元を安定。アジャストされているような心地よい重み
					</p>
				</li>
				<li class="col-sm-3 col-xs-3"><a
						href="https://www.yogaworks.jp/products/detail/28"><img
							src="https://www.yogaworks.jp/html/upload/save_image/g601.jpg"></a>
					<h5><a href="https://www.yogaworks.jp/products/detail/28">ヨガスプレー</a>
					</h5>
					<p class="price">¥2,530 (税込) →
						<span class="f_red">¥2,024</span> (税込)
					</p>
					<p><span class="jpnmd">JAPAN
							MADE</span>植物から抽出された天然のエッセンシャルオイルを絶妙なバランスでブレンド
					</p>
				</li>


			</ul>
		</section>

	</article>
	<!-- //yogamat -->

</main><!-- //ここまで -->

{% endblock %}