<div id="ft_banner" class="ec-topicRole">
    <div class="ec-role">
        <div class="ec-topicRole__list">
            <div class="ec-topicRole__listItem">
                <a href="/entry?utm_source=ftbn&utm_medium=web&utm_campaign=ftbn_regist">
                    <img src="/html/user_data/img/bn/ftbn_regist.jpg" alt="会員登録">
                </a>
            </div>
            <div class="ec-topicRole__listItem">
                <a href="https://lin.ee/iAKwGpZ?utm_source=ftbn&utm_medium=web&utm_campaign=ftbn_line" target="_blank">
                    <img src="/html/user_data/img/bn/ftbn_line.png" alt="LINEお友達登録">
                </a>
            </div>
            <div class="ec-topicRole__listItem">
                <a href="/user_data/guarantee?utm_source=ftbn&utm_medium=web&utm_campaign=ftbn_30days">
                    <img src="/html/user_data/img/bn/ftbn_30days.jpg" alt="30日無料交換サービス">
                </a>
            </div>
        </div>
    </div>
</div>